:root {
    --primary-color: #2a6f6f;
    --secondary-color:  #11228f;
    --tertiary-color:  #d9ff00 ;
}

body {
    background-color: var(--primary-color); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 8px;
}

#container {
    height: 575px;
    width: 350px;
    margin: 100px auto;
    background-color: rgba(248, 219, 198, 0.774);
    box-shadow: 2px 2px var(--secondary-color);
    border-radius: 18px;
}

.title {
    background-color: var(--secondary-color);
    color: beige;
    padding: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    text-align: center;
}

.tipsForm {
    padding-left: 18px;
    padding-right: 18px;
}

.formInput {
    background: white;
    width: 38px;
    padding: 4px 4px 7px 7px;
}

.formInput:focus {
    border: 3px solid var(--tertiary-color);
    width: none;
}

.formSelect {
    width: 175px;
    padding: 4px;
    font-size: 12px;
}

.formSubmit {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 27px auto;
    background: var(--primary-color);
    border-radius: 15px;
    width: 180px;
    height: 45px;
    font-size: 15px;
    color: beige;
}

#totalTip {
    text-align: center;
    font-size: 18px;
    margin-top: 18px;
}